* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --honey: hsl(44, 100%, 49%);
}

body {
  font-family: Poppins, Helvetica, sans-serif;
}

img {
  width: 100%;
  max-width: 32em;
  object-fit: cover;
}

a {
  text-decoration: none;
  transition: 100ms;
  color: hsl(189, 65%, 50%);
}

a:hover {
  color: hsl(189, 65%, 70%);
}

header {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: var(--honey);
  padding: 1em;
  color: white;
}

header > a {
  background: hsl(189, 65%, 50%);
  color: white;
  padding: 0 0.5em 0 0.5em;
  border-radius: 25em;
}

header > a:hover {
  background: hsl(189, 65%, 70%);
  color: white;
}

h1 a {
  color: white;
}

h2 {
  font-weight: 400;
}

li {
  list-style: none;
}

main {
  padding: 1em;
  min-height: 75vh;
}

section {
  margin-bottom: 2em;
}

section p {
  max-width: 60ch;
}

h4 {
  font-size: 1.2rem;
  padding-top: 0.5em;
}

footer {
  background: var(--honey);
  height: 6em;
}

@media only screen and (min-width: 900px) {
  header {
    flex-direction: row;
  }

  h1 {
    font-size: 3rem;
    margin-right: 1em;
  }
}
