*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* font family */
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Open Sans', monospace;

    /* font weight */
    --fw-light: 300;
    --fw-reg: 400;
    --fw-bold: 600;

    /* font size */
    --fs-h1: 1.75rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* color */
    --clr-light: #fff;
    --clr-lightish: rgb(242, 241, 255);
    --clr-dark: rgba(13, 33, 73, 1);
    --clr-accent: rgba(250, 185, 0, 1);

    /* box shadow */
    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

/* Utility classes */

.clr-light { color: var(--clr-light) }
.clr-dark { color: var(--clr-dark) }
.clr-accent { color: var(--clr-accent) }

/* General styles */

body {
    background: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h1 { font-size: var(--fs-h1) }

/* Header */

header,
footer {
    background-color: var(--clr-dark);
    padding: .75em;
    text-align: center;
    box-shadow: var(--bs);
}

header h1 {
    font-weight: var(--fw-bold);
    padding-bottom: 1rem;
}

/* Cards */

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.card {
    max-width: 330px;
    margin: 10px auto;
    border: 1px grey solid;
    border-top: none;
    box-shadow: var(--bs);
    background-color: var(--clr-lightish);
    border-radius: .5rem;
}

.card__title {
    background-color: var(--clr-accent);
    border-radius: .5rem .5rem 0 0;
    border-top: 1px grey solid;
}


.card__title,
.website__name,
.website__link,
.card__img,
.description {
    padding: .5rem;
}

img {
    width: 100%;
    border: 1px grey solid;
}

.website__link:visited {
    color: blue;
}
.website__link:hover {
    color: var(--clr-accent)
}

.description {
    text-align: justify;
}

/* Footer */

.information {
    color: var(--clr-light)
}