@media only screen and (min-width: 62rem) {

    .center {
        max-width: 56rem;
    }

    h1, h2 {
        margin-left: 0;
    }

/*----------- BODY --------------*/

.mainhero {
    background: url("../img/mainhero-large.jpg");
    background-size: cover;
    background-position: center;
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

    /* Hero */
    .hero-img img {
        border-radius: .25rem;
    }

    /* Town Data */
    .cards {
        flex-direction: row;
        justify-content: space-between;
    }

    .card {
        grid-template-columns: 280px;
        width: 280px;
    }

    .cards a:not(:last-child) {
        margin-bottom: 0;
    }

    /* 5 Days Forecast */
    .forecast__grid div {
        margin: 0;
    }

    .forecast__grid {
        grid-template-columns: repeat(5, 1fr);  
    }

    .event p {
        font-size: 1.25rem;
    }

    /* Contact */
    .contact__column {
        padding: 0;
    }

    /*------ GALLERY ------*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
    }

    .gallery figure:nth-last-child(-n+3) {
        margin-bottom: 1rem;
    }

    .gallery figure:hover {
        box-shadow: 0.5em 0.5em 1.5em rgba(0, 0, 0, .5),
        0.25em 0.25em 0.5em rgba(0, 0, 0, .3);
    }

    /* ---------- Storm Center ---------- */
    .right-filler {
        display: block;
        overflow: hidden;
        box-shadow: var(--bs);
        border-radius: var(--b-radius);
        margin-top: 2rem;
    }

    .storm-grid {
        display: grid;
        grid-template-columns: 22rem auto;
        grid-gap: 2rem;
        align-items: center;
        margin: 1rem 0;
    }

    .sbs {
        padding: 0.25rem 0;
    }

/*----------- FOOTER --------------*/


/* end of media query */
}