.directory-cards {
    margin-bottom: 2rem;
    .flex {
        display: flex;
        justify-content: space-between;
        grid-column: 1/3;
    }
    .btn {
        display: none;
        margin-right: 1em;
        margin-top: 1em;
        cursor: pointer;
        svg {
            height: 2em;
            margin-right: 1em;
        }

        @include respond(tab-land) {
            display: block;
        }
    }

    #gridBtn,
    #listBtn {
        fill: $interactive;
        &:hover {
            fill: $interactive-lighter
        }
    }
}