.main-rennes {

    &__history,
    &__info,
    &__events {
        margin: .5em;
        img {
            display: block;
        }
        @include respond(tab-land) {
            margin: 0;
        }
    }
    
    
    &__history {
        background: $grey-light;
        box-shadow: $bs-light;

        div {
            padding:1em;
        }

        div ul {
            list-style: none;
        }

        @include respond(tab-land) {
            display: flex;
            margin-top: 2em;
        }

    }

    &__info {
        background: $dark;
        color: $light;
        box-shadow: $bs-light;
        div {
            padding: 0 1em 1em 1em;
        }

        @include respond(tab-land) {
            display: flex;
            height: 24em;
            margin-top: 2em;

            div {
                padding-top: 1em;
            }
        }

    }

    &__events {

        margin: 2rem auto;
        
        h2 {
            color: $dark;
            width: 100%;
        }
        
        div {
            position: relative;
            height: 14em;
            background: rgba(0, 0, 0, .5);
            max-width: 20em;
        }
        
        h3, p {
            z-index: 2;
            font-size: 1.5rem;
            padding: .5rem;
        }
        
        color: $light;
        
        img {
            position: absolute;
            height: 100%;
            z-index: -1;
            box-shadow: $bs-light;
        }
        
        @include respond(tab-land) {
                display: flex;
                flex-wrap: wrap;

                div {
                    width: 18.75rem;
                }
            
        }
    }

}