.main-home {
    @include respond(tab-land) {
        display: grid;
        align-self: start;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "weather cards"
            "sideImg cards"
            "sideImg events";
        gap: calc(.5em + 2vw);
    }
}

.weather {
    grid-area: weather;
    display: flex;
    flex-direction: column;
    color: $light;
    text-align: center;
    justify-items: center;
    margin: 1em auto;
    line-height: 1.8rem;
    box-shadow: $bs-light;

    .line {
        display: block;
        height: 2px;
        width: 30%;
        margin: .25em auto .25em;
        background: $light;

        @include respond(tab-land) {
            margin-top: -.5em;
        }
    }

    @include respond(tab-land) {
        width: 18em;
        // height: 18.5em;
    }

    &>h2 {
        width: 100%;
        background-color: $clr-primary;
    }

    &__current {
        display: grid;
        grid-template-areas:
            "title title"
            "desc temp"
            "humidity temp";

        background-color: $dark;

        .current__title {
            grid-area: title;
        }

        p:nth-of-type(1) {
            grid-area: desc;
        }

        p:nth-of-type(2) {
            grid-area: humidity;
        }

        p:nth-of-type(3) {
            grid-area: temp;
            margin-top: .25em;
            font-size: 2.5rem;
        }
    }

    &__forecast {
        background: $grey-dark;

        #weather {
            display: flex;
            justify-content: space-around;
            line-height: 1.2rem;
            padding-bottom: .5em;
        }
    }


    @include respond(tab-land) {
        margin-top: 2em;
        line-height: 3rem;

        h2 {
            height: 2.8em;
            padding-top: .5em;
        }
    }

}

.business-cards {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 auto;
    background: $darker;

    h2 {
        color: $light;
        margin-left: 1em;
        margin-top: .5em;

        @include respond(tab-land) {
            width: 34rem;
        }
    }

    @include respond(tab-land) {
        &.grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .business-card {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 20em;
        min-height: 15em;
        margin: 1em auto;
        color: $light;
        background: $grey-dark;
        box-shadow: $bs-dark;
        border-radius: .25em;

        img {
            height: auto;
            border-top-left-radius: .25em;
            border-top-right-radius: .25em;
        }

        .about {
            padding: 1em 1em 0 1em;
        }


        .contact {
            padding: 0 1em 1em 1em;
        }

        .about p:nth-of-type(1) {
            font-weight: 700;
            color: $clr-primary-lighter;
        }

        a {
            color: $interactive;
        }

        .about span {
            display: block;
            height: .125rem;
            width: 80%;
            margin: .25em auto .25em;
            background: $light;
        }
    }

    &.grid .business-card {
        @media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
            grid-template-areas:
                "logo about"
                "contact about";
            max-width: 32em;


            img {
                grid-area: logo;
                border-top-right-radius: 0;
                border-bottom-right-radius: .25em;
            }

            .contact {
                grid-area: contact;
            }

            .about {
                grid-area: about;
                font-size: 1.2rem;

                p:nth-of-type(2) {
                    margin: 1em 0;
                }
            }

            .about span {
                display: none;
            }
        }
    }

    &.list .business-card {
        @include respond(tab-port) {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
            grid-template-areas:
                "logo about"
                "contact about";
            max-width: 32em;


            img {
                grid-area: logo;
                border-top-right-radius: 0;
                border-bottom-right-radius: .25em;
            }

            .contact {
                grid-area: contact;
            }

            .about {
                grid-area: about;
                font-size: 1.2rem;

                p:nth-of-type(2) {
                    margin: 1em 0;
                }
            }

            .about span {
                display: none;
            }
        }
    }
}

aside {
    display: none;

    @include respond(tab-land) {
        display: block;
        grid-area: sideImg;
        grid-row: 2/4;

        img {
            width: 18em;
        }
    }
}

.events {
    grid-area: events;
    width: 100%;
    padding: 1em;
    box-shadow: $bs-light;
    margin-bottom: 1em;
    margin-top: 1em;
    background: $dark;
    color: $light;

    @include respond(tab-land) {
        max-width: unset;
        width: 35rem;
        margin-left: auto;
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding-left: 1em;
    }

    a {
        text-decoration: none;
        color: $interactive;
    }
}