@import '1-variables';
@import '2-normalize';
@import '3-base';

main section {
  width: 100vw;
  transition: 0.3s;
}

// HOME
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $clr-black;

  h4 {
    color: $clr-black;
    font-family: $font-primary;
    font-weight: 400;
  }

  &__header {
    width: 100%;
    background: hsl(0, 0%, 10%);
  }

  &__title {
    margin: 2rem 0;
    font-size: 6rem;
    font-weight: 100;
    font-family: 'rogue', sans-serif;
    line-height: 0.775;
    &--hero {
      color: $clr-marvel;
    }
    &--quiz {
      color: $clr-dc;
    }
  }

  &__main {
    display: grid;
    place-content: center;
    width: 360px;
    background: $clr-white;
    height: calc(100vh - 212.8px - 6vh);
  }

  &__menu {
    div {
      cursor: pointer;
      pointer-events: none;
      &:hover {
        opacity: 1;
      }
    }

    .focused--clickable {
      transition: 0.3s;
      opacity: 0.25;
      pointer-events: all;
    }

    &--marvel {
      transform: scale(0.8);
    }

    &--dc {
      transform: scale(0.8);
    }
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;

  div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 6vh;
    background: var(--theme);
    font-weight: 700;
    color: $clr-white;
    cursor: pointer;
    transition: 0.3s;
    &:nth-of-type(2) {
      border-left: 1px solid $clr-white;
      border-right: 1px solid $clr-white;
    }

    &:hover {
      opacity: 1;
    }
  }
}

// EXPLORE PAGE
.explore {
  color: black;

  &__header {
    display: grid;
    place-content: center;
    height: 12vh;
    width: 100vw;
    background: var(--theme);
    color: white;

    h4 {
      font-weight: lighter;
      font-size: 2rem;
      font-family: $font-secondary;
      color: $clr-white;
      line-height: 1.25rem;

      em {
        font-style: normal;
        font-size: 1rem;
        font-weight: 400;
        font-family: $font-primary;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $clr-black;
  }

  &__list {
    width: 360px;
    height: 68vh;
    margin: 0 auto;
    padding: 4vh 2rem;
    text-align: center;
    columns: 2;
    font-size: 1rem;
    font-weight: 300;
    background: $clr-white;
    li {
      margin-bottom: 0.85rem;
      p {
        line-height: 0.8;
      }
      &:hover {
        color: var(--theme);
      }
    }
    &.details {
      height: 68vh;
      padding-bottom: 0;

      @media screen and (max-height: 700px) {
        line-height: 1.2;
      }
      @media screen and (max-height: 636px) {
        line-height: 1;
      }
    }

  }



  &__index {
    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 3vh;
      transition: 0.3s;
      height: 14vh;
      width: 360px;
      margin: 0 auto;
      background: $clr-white;
    }

    li {
      color: white;
      padding: 0.5rem;
      width: 1.875rem;
      height: 1.875rem;
      background: var(--theme);
      border-radius: 100%;
      &:not(:first-of-type) {
        margin-left: 0.25rem;
      }
      &:hover {
        transform: scale(1.1);
      }

      div {
        color: $clr-white;
      }
    }
    .add-button {
      line-height: 1;
      border-radius: 200px;
      width: 10rem;
    }
    .close-button {
      margin-right: 1rem;
    }
  }

  li {
    list-style: none;
    line-height: 3vh;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

// TEAM PAGE
.team {
  color: black;

  &__header {
    display: grid;
    place-content: center;
    height: 12vh;
    width: 100vw;
    background: var(--theme);
    color: white;

    h4 {
      font-weight: lighter;
      font-size: 2rem;
      font-family: $font-secondary;
      color: $clr-white;
    }
    p {
      color: white;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $clr-black;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 360px;
    height: 82vh;
    margin: 0 auto;
    padding: 1rem 2rem;
    text-align: center;
    background: $clr-white;

    .teamHeroLine {
      display: flex;
      align-items: center;
      margin: 0.5rem auto;
    }

    .teamBtn {
      width: 12rem;
      padding: 0.5rem 0;
      background: var(--theme);
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      box-shadow: 4px 4px 10px 0 rgba(black, 0.25);
      transition: 0.3s;
      &:active {
        box-shadow: none;
      }
    }

    .removeBtn {
      padding: 0.2rem 0.75rem;
      background: $clr-black;
      font-size: 2rem;
      color: white;
      cursor: pointer;
      &:hover {
        transition: 0.3s;
        color: var(--theme);
      }
    }
  }

  li {
    list-style: none;
    line-height: 3vh;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
