.hero {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include respond(tab-port) {
        margin-top: 80px;
    }

    &::after {
        @include cover(10);
        content: '';
        background: rgba($color: #000000, $alpha: .5)
    }

    .texture {
        @include cover(15);
        background: url('diagonal.png');
    }

    video {
        @include cover(5);
        object-fit: cover;
    }

    .video-large {
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    .video-thin {
        display: block;

        @include respond(tab-port) {
            display: none;
        }
    }

    .caption {
        position: relative;
        z-index: 20;
        text-align: left;
        // padding-top: 10vh;
        // margin-left: 1em;
        color: white;

        h1 {
            margin-top: .25rem;
            font-size: calc(1.8rem + 1.6vw);
            text-transform: uppercase;
            line-height: 1;
            max-width: 20ch;
        }

        h4 {
            margin-left: 1em;
            font-size: 1.2rem;
            margin-bottom: .5em;
            font-weight: 300;
        }

        a {
            text-decoration: none;
        }

    }
}

.cta {
    width: 16em;
    padding: 1em;
    line-height: 1;
    text-align: center;
    transition: 0.25s;
    background: $interactive-500;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

    &:hover {
        background: $interactive-400;
    }

    span {
        color: $light-50;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    em {
        font-style: normal;
        font-weight: 700;
    }
}

.mission-statement {
    display: grid;
    place-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;

    h2 {
        color: $primary-600;
        max-width: 30ch;

        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    p {
        margin-top: 1em;
        color: $dark-800;
        max-width: 60ch;
    }
}

.infographic {
    color: $dark-800;
    margin-top: 2em;
    margin-bottom: 2em;

    
    img {
        max-width: 50%;
        max-height: 12em;
    }
    
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        max-width: 20em;
        margin: 0 auto;
        
        h3 {
            font-size: 3rem;
        }
        
        em {
            font-style: unset;
            font-weight: 700;
        }
        
        p {
            max-width: 17ch;
        }
    }

    &--dark {
        h2 {
            color: $red-error;
        }
        .infographic__card {
            div {
                text-align: right;
                line-height: 1.2;
            }
    
            &:nth-of-type(even) {
                flex-direction: row-reverse;
                div {
                    text-align: left;
                }
            }
        }
    }
    
    &--light {
        margin-top: 2em;
        h2 {
            color: $honey-500;
            text-align: right;
        }

        h3 {
            font-size: 1.75rem;
        }

        .infographic__card {
            div {
                text-align: right;
                line-height: 1.2;
            }
    
            &:nth-of-type(odd) {
                flex-direction: row-reverse;
                div {
                    text-align: left;
                }
            }
        }
    }

}

.call-to-action img {
    width: 350px; 
    height: 100%;   
}