@media only screen and (min-width: 58rem) {

    .center {
        max-width: 56rem;
    }

    h1, h2 {
        margin-left: 0;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.forecast__grid div {
    margin: 0;
}

.forecast__grid {
    grid-gap: calc(1rem + 3vw);
}

.contact__column {
    padding: 0;
}
/*----------- FOOTER --------------*/
    
/* end of media query */
}