@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');

// ---------- VARIABLES ----------
$clr-primary: hsl(219, 79%, 66%);
$clr-secondary: hsl(34, 78%, 91%);
$clr-tertiary: hsl(34, 57%, 70%);

$f-primary: 'Lora',
serif;
$f-secondary: Helvetica,
Arial,
sans-serif;

// ---------- MIXINS ----------
@mixin respond($breakpoint) {
    @if $breakpoint==tab-port {
        @media only screen and (min-width: 48em) {
            @content;
        }

        ; //768px
    }

    @if $breakpoint==tab-land {
        @media only screen and (min-width: 60em) {
            @content;
        }

        ; //960px
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 75em) {
            @content;
        }

        ; //1200px
    }
}

@mixin box-shadow($top, $left, $blur, $color) {
    box-shadow: $top $left $blur $color;
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
}

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: $f-secondary;
    font-weight: 500;

    @include respond(tab-port) {
        div {
            display: flex;
        }
    }
}

h1,
h2,
h3,
h4 {
    font-family: $f-primary;
}

a {
    color: $clr-primary;
    text-decoration: none;

    &:active {
        color: $clr-tertiary;
    }

    &:hover {
        text-decoration: underline;
    }
}

/* HEADER */
header {
    background: $clr-primary;
    text-align: right;
    padding: 2em;

    @include respond(tab-port) {
        padding: 1.5em;
        width: 600px;
    }

    a {
        color: $clr-secondary;
    }

    h1 {
        padding: 1em 0 1em 0;
        font-weight: 600;
    }

    hr {
        margin-bottom: .5em;
    }
}


/* NAVIGATION */
nav li {
    list-style: none;
    padding: .5em;
}

/* MAIN */
main {
    background: $clr-secondary;
    padding: 5vw;
}

/* ARTICLE */
article {
    margin-top: 1em;
    margin-bottom: 2em;
    background: white;
    padding: 2em;
    @include box-shadow(3px, 3px, 7px, rgba(0, 0, 0, 0.5));

    img {
        height: 300px;
        margin-top: 4em;
        margin-bottom: 1.5em;
    }

    figure {
        display: grid;
        justify-content: center;
    }

    h2 {
        font-size: 1.7rem;

        a {
            color: black;
        }
    }

    .post-date {
        color: rgb(145, 145, 145);
        font-weight: 600;
    }
}