@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;600&display=swap');

:root {
    --c-primary: hsl(219, 79%, 66%);
    --c-secondary: hsl(34, 78%, 91%);
    --c-tertiary: hsl(34, 57%, 70%);

    --f-primary: 'Lora', serif;
    --f-secondary: Helvetica, Arial, sans-serif;
}

/* General styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--f-secondary);
    font-weight: 500;
}

h1, h2, h3, h4 {
    font-family: var(--f-primary);
}

a {
    color: var(--c-primary);
    text-decoration: none;
}

a:active {
    color: var(--c-tertiary);
}

a:hover {
    text-decoration: underline;
}

/* HEADER */
header {
    background: var(--c-primary);
    text-align: right;
    padding: 2em;
}

header a {
    color: var(--c-secondary);
}

header a:hover {
    text-decoration: none;
}

header h1 {
    padding: 1em 0 1em 0;
    font-weight: 600;
}

header hr {
    margin-bottom: .5em;
}

/* NAVIGATION */
nav li {
    list-style: none;
    padding: .5em;
}

/* MAIN */
main {
    background: var(--c-secondary);
    padding: 5vw;
}

@media only screen and (min-width: 900px) {
    body div {
        display: flex;
    }    

    header {
        padding: 1.5em;
        width: 600px;
    }
}

/* ARTICLE */
article {
    margin-top: 1em;
    margin-bottom: 2em;
    background: white;
    padding: 2em;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.25);
}

article img {
    height: 300px;
    margin-top: 4em;
    margin-bottom: 1.5em;
}

article figure {
    display: grid;
    justify-content: center;
}

article h2 a {
    color: black;
}

article a:hover {
    text-decoration: none;
}

.post-date {
    color: rgb(145, 145, 145);
    font-weight: 600;
}

article h2 {
    font-size: 1.7rem;
}