html {
    box-sizing: border-box;
    background: $light-50;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    place-items: center;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.container-section {
    overflow: auto;
    width: calc(4.5em + 80%);
    max-width: 1000px;
    padding: 0 20px;
}

h2 {
    line-height: 1.2;
}

// .containerWide {
//     max-width: 1400px;
// }

.hide {
    display: none;
}
