// -------- COLORS --------
// Brand
$yellow:                 hsl(44, 96%, 50%);
$yellow-dark:           hsl(44, 88%, 46%);
$blue:                hsl(222, 40%, 55%);
$blue-dark:          hsl(222, 31%, 44%);
$red:                 hsl(2, 77%, 51%);
$red-dark:           hsl(2, 73%, 44%); 

// Layout       
$honey-50:       hsl(44, 100%, 95%);
$honey-100:       hsl(44, 100%, 90%);
$honey-200:       hsl(44, 100%, 80%);
$honey-300:       hsl(44, 100%, 70%);
$honey-400:       hsl(44, 100%, 60%);
$honey-500:       hsl(44, 100%, 50%);
$honey-600:       hsl(44, 100%, 40%);
$honey-700:       hsl(44, 100%, 30%);
$honey-800:       hsl(44, 100%, 20%);
$honey-900:       hsl(44, 100%, 10%);

$primary-100:       $honey-100;
$primary-200:       $honey-200;
$primary-300:       $honey-300;
$primary-400:       $honey-400;
$primary-500:       $honey-500;
$primary-600:       $honey-600;
$primary-700:       $honey-700;
$primary-800:       $honey-800;
$primary-900:       $honey-900;

$light-50:                 hsl(240, 7%, 95%);
$light-100:                hsl(240, 7%, 90%);
$light-150:                hsl(240, 7%, 85%);
$light-200:                hsl(240, 7%, 80%);
$light-300:                hsl(240, 7%, 70%);
$dark-700:                 hsl(206, 7%, 30%);
$dark-800:                 hsl(206, 7%, 20%);
$dark-850:                 hsl(206, 7%, 15%);
$dark-900:                 hsl(206, 7%, 10%);
$dark-950:                 hsl(206, 7%, 5%);

// Denotive
$red-error:             hsl(360, 64%, 54%);
$green-success:         hsl(167, 71%, 49%);
$grey-light-disabled:   hsl(206, 5%, 71%);
$grey-dark-disabled:    hsl(180, 3%, 38%);

// Interactive
$curious-blue-100:       hsl(202, 68%, 90%);
$curious-blue-200:       hsl(202, 68%, 80%);
$curious-blue-300:       hsl(202, 68%, 70%);
$curious-blue-400:       hsl(202, 68%, 60%);
$curious-blue-500:       hsl(202, 68%, 50%);
$curious-blue-600:       hsl(202, 68%, 40%);
$curious-blue-700:       hsl(202, 68%, 30%);
$curious-blue-800:       hsl(202, 68%, 20%);
$curious-blue-900:       hsl(202, 68%, 10%);

$interactive-100:       $curious-blue-100;
$interactive-200:       $curious-blue-200;
$interactive-300:       $curious-blue-300;
$interactive-400:       $curious-blue-400;
$interactive-500:       $curious-blue-500;
$interactive-600:       $curious-blue-600;
$interactive-700:       $curious-blue-700;
$interactive-800:       $curious-blue-800;
$interactive-900:       $curious-blue-900;

// ------- BOX-SHADOW -------
$bs-light:  0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
            0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

$bs-dark:  0.25em 0.25em 0.75em rgba(0, 0, 0, 0.75),
            0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);

// -------- FONT --------
$default-font-size: 1.6rem;
$sans: 'Poppins', sans-serif;
$serif: 'Noto Serif', serif;


// -------- GRID --------
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

