/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {

    :root {
            /* font size */
            --fs-h1: 2.5rem;
            --fs-h2: 1.5rem;
            --fs-h3: 1.4rem;
            --fs-body: 1rem;
    }

/*----------- BODY --------------*/

.center {
    max-width: 36rem;
}

/*----------- HEADER --------------*/
header div.flex {
    justify-content: center;
}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */