$clr-marvel: hsl(358, 85%, 52%);
$clr-dc: hsl(211, 97%, 48%);
$clr-white: hsl(0, 0%, 98%);
$clr-black: hsl(0, 0%, 13%);

:root {
  --theme: rgb(237, 29, 35);
}

$background: $clr-white;

@font-face {
  font-family: "rogue";
  src: url("./../../assets/roguehero-webfont.woff2") format("woff2"),
    url("./../../assets/roguehero-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-primary: 'Poppins', sans-serif;