body {
  background: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

button {
  border: none;
}

​button:focus {
  border: none;
  outline: none;
}

.hidden {
  display: none;
}

.visuallyhidden {
    opacity: 0;
  }
