@import '1-variables';
@import '2-normalize';
@import '3-base';

main section {
  width: 100vw;
  transition: .3s;  
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h4 {
    color: $clr-black;
    font-family: $font-primary;
    font-weight: 400;
  }

  &__header {
    width: 100%;
    background: $clr-black;
  }

  &__title {
    margin: 2rem 0;
    font-size: 6rem;
    font-weight: 100;
    font-family: 'rogue', sans-serif;
    line-height: 0.775;
    &--hero {
      color: $clr-marvel;
    }
    &--quiz {
      color: $clr-dc;
    }
  }

  &__main {
    margin-top: 5vh;
  }

  &__menu {
    div {
      cursor: pointer;
      pointer-events: none;
      &:hover {
        opacity: 1;
      }
    }

    .focused--clickable {
      transition: 0.3s;
      opacity: .25;
      pointer-events: all;
    }

    &--marvel {
      transform: scale(0.8);
    }

    &--dc {
      transform: scale(0.8);
    }
  }
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: $clr-white;
  margin: 0 auto;

  div {
    display: grid;
    place-items: center;
    width: 100%;
    height: 3rem;
    background: var(--theme);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    &:nth-of-type(2) {
      border-left: 1px solid $clr-white;
      border-right: 1px solid $clr-white;
    }

    &:hover {
      opacity: 1;
    }
  }
}
