$card-width: 200px;
$clr-first-card: hsl(39, 100%, 50%);
$color-second-card: rgb(0, 132, 255);
$radius-large: 1rem;
$radius-medium: .75rem;
$radius-small: .5rem;

body {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.card {
  display: flex;
  margin: 2rem;
  background: hsl(0, 0%, 98%);
  min-width: $card-width;
  max-width: $card-width;
  height: ($card-width * 1.4);
  border-radius: $radius-large;
  border: 1px solid black;
}

.inside-border {
  margin: auto;
  height: calc(100% - .75rem);
  width: calc(100% - .75rem);
  background: hsl(0, 0%, 100%);
  border-radius: $radius-medium;
  border: 1px solid black;

  &1 {
    path {
      fill: #fff;
      stroke: orange;
      stroke-width: 20;
    }

    circle {
        fill: $clr-first-card;
    }
  }

  &2 {
    background-image: radial-gradient(
      circle at top right,
      $color-second-card,
      #202020 100%
    );

    svg {
      width: 90%;
      padding: 5%;
      padding-top: 2rem;
    }

    .educate .cls-2{
        fill: rgb(0, 234, 255);
    }
    .embrace .cls-2{
        fill: rgb(235, 145, 0);
    }
    .empower .cls-2{
        fill: rgb(191, 135, 255);
    }
  }
}

svg {
  border-radius: $radius-medium;
}
