header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    text-align: left;
    background: rgba($primary-500, .95);

    @include respond(tab-port) {
        display: grid;
        place-items: center;
    }

     .header__content {

        @include respond(tab-port) {
            display: flex;
            justify-content: space-between;
            
        }
    }
    
}

.logo {
    @include respond(tab-port) {
        grid-column: 2 / span 1;
    }
}

.logo img {
    width: 10rem;
    margin-top: .5rem;
}

nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    width: 100%;
    background: rgba($primary-500, .95);
    transform: scale(1, 0);
    transform-origin: top right;
    transition: 0.4s ease-in-out;
    
    ul {
        list-style: none;
    }

    li {
        margin-bottom: 1em;
        margin-right: 1em;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .15s ease-in-out;
        font-weight: 400;

        &:hover {
            color: $interactive-400;
        }

        @include respond(tab-port) {
            opacity: 1;
        }
    }

    @include respond(tab-port) {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        ul {
            display: flex;
        }

        li {
            margin-bottom: 0;
        }

        a {
            font-size: 1rem;
        }
    }
}

.display-nav {
    transform: scale(1, 1);

    a {
        opacity: 1;
        transition: opacity .25s ease-in-out .25s;
    }
}

#hamburger {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 5rem;
    width: 5rem;
    transform: scale(.75);
    transition: 0.3s;

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 0;
        width: 3rem;
        border: 0.2rem solid white;
        // border-radius: 3rem;
        margin: -0.25rem 0 0 -1.75rem;
        transition: 0.3s;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            width: 3.5rem;
            height: 0.4rem;
            background: white;
            // border-radius: 3rem;
            margin: 0 0 0 -1.75rem;
            transition: 0.3s;
        }

        &:before {
            top: -1.125rem;
        }

        &:after {
            top: 0.625rem;
        }
    }

    &.open span {
        height: 3rem;
        margin: -2rem 0 0 -2rem;
        border-width: 0.35rem;
        border-radius: 3rem;

        &:before,
        &:after {
            top: 1.3rem;
            width: 2rem;
            margin: 0 0 0 -.95rem;
        }

        &:before {
            transform: rotate(-135deg);
        }

        &:after {
            transform: rotate(135deg);
        }
    }

    @include respond(tab-port) {
        display: none;
    }

}