/* #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 */

:root {
    --light: #e7f0ed;
    --lightgreen: #e7ffed;
    --blue: #628ca6;
    --green: #7fb9c2;
}

table, th, td, caption   {    
    border: 1px solid rgb(184, 184, 184);
    border-collapse: collapse;
}

table, caption {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: var(--lightgreen);
    box-shadow: 0.5em 0.5em 1em var(--blue);
    font-size: 1.5rem;
}

td, th, caption {
    padding: .33em;
}

caption {
    background-color: var(--green);
    font-size: 1.5em;
    font-weight: 700;
}


tbody tr:nth-child(odd) td{
    background-color: var(--light);
}

tbody tr:nth-child(5) :first-child {
    font-style: italic;
}

thead,
tr:nth-child(4) :last-child
{
    background-color: var(--blue);
    color: white
}

tfoot{
    background-color: var(--green);
    font-size: .66em;
}