footer .footer-graphic::before {
  content: "";
  background: url(https://www.byui.edu/prebuilt/stylenew/images/foot/taylor_graphic_fixed.png)
    bottom no-repeat;
  display: block;
  height: 146px;
  padding: 0;
}

footer .footer-graphic::after {
  background-color: #eaeaea;
  border-bottom: 1px solid #000;
  border-top: 1px solid #c6c7c8;
  content: "";
  display: block;
  padding: 30px;
}
